/* Existing styles */

.project-tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #007BFF;
    border-radius: 5px;
}

.project-tabs .tab {
    width: 33.33%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    color: #fff;
}

.project-tabs .tab:hover, .project-tabs .active-tab {
    background-color: #000b16;
}

.project-content {
    display: none;
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-content.active-content {
    display: block;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
